@media only screen and (min-width: 300px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .header_first_row  .logo {
        width: 20%;
    }
    .header_first_row .nav {
        width: 80%;
    }
    .portfolio_second_row .column .portfolio_col_img img{
        width: 400px;
        height: 250px;
    } 
}


/* tablet */

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .header_first_row  .logo {
        width: 100%;
        text-align: center;
    }
    .header_first_row .mobile_menu {
        width: 100%;
        overflow: hidden;
    }
    .mean-container .mean-bar {
        background: #eb7d4b;
    }
    .mean-container .mean-nav {
        background: #87509c;
    }
    .service_second_row .column {
        width: 45%;
    }
    .team_second_row .column {
        width: 45%;
        margin: 2% 1%;
    }   
    .portfolio_second_row .column {
        width: 55%;
        display: block;
        margin: auto;
    }
    .testimonial_second_row .column {
        width: 48%;
        display: inline-block;
        margin: 1% auto;
    }
    .testimonial_second_row .column .inner_first_col {
        width: 100%;
        float: none;
    }
    .testimonial_second_row .column .inner_second_col {
        width: 100%;
        float: none;
    }
    .contact_second_row .column input[type="text"], input[type="email"] {
        height: 8vh;
    }
    .contact_second_row .column:nth-child(3) textarea {
        height: 10vh;
    }
    footer ul li {
        margin-left: 35px;
    }

}

/* mobile size */
@media only screen and (min-width: 300px) and (max-width: 768px) {
    .container {
        max-width: 100%;
    }    
    .header_second_row h1 {
        font-size: 40px;
    }
    .service_second_row .column {
        width: 100%;
        display: block;
        margin: 30px auto;
    }
    .team_second_row .column {
        width: 100%;
        margin: 30px auto;
        float: none;
    }
    .skill_second_row .column {
        width: 100%;
        float: none;
        text-align: center;
    }
    .portfolio_middle_row .portfolio_menu ul li a {
        margin: 5px;
    }
    .portfolio_second_row {
        text-align: center;
    }
    .portfolio_second_row .column {
        width: 100%;
    } 
    .portfolio_second_row .column .portfolio_col_img img {
        width: 300px;
        height: 200px;
    }   
    .testimonial_second_row .column {
        width: 100%;
        display: block;
        margin: 30px auto;
    }
    .contact_second_row .column {
        width: 100%;
        float: none;
        margin: 35px auto;
    }
    .contact_second_row .column input[type="text"], input[type="email"] {  
         width: 90%;
    }
    .contact_second_row .column:nth-child(3) {
        width: 100%;
    }
    .contact_second_row .column:nth-child(3) textarea {
        width: 90%;
        height: 10vh;

    }

}